<!--Modal para cadastrar e editar-->
<p-dialog [draggable]="false" [dismissableMask]="true" [showHeader]="true" [closeOnEscape]="true" [blockScroll]="true"
  [modal]="true" [responsive]="true" [baseZIndex]="10000" [(visible)]="display" (onHide)="atualizarTituloEdicao()">
  <app-pessoa-cadastro></app-pessoa-cadastro>
</p-dialog>

<!--Modal de filtro avançado-->
<p-dialog [(visible)]="filtroDisplay"  [baseZIndex]="10000" [dismissableMask]="true" [responsive]="true"
  [draggable]="false" [modal]="true">
  <p-header>
    Filtro Avançado
  </p-header>
  <div class="ui-g-6 ui-fluid">
    <label>Cidade</label>
   <input pInputText type="text" name="cidade" [(ngModel)]="cidade">
  </div>
  <div class="ui-g-6 ui-fluid">
    <label>Estado</label>
    <p-dropdown [options]="estados"  [(ngModel)]="estado"  name="pessoa"  #pess="ngModel"   placeholder="Selecione um estado" [autoWidth]="false" [filter]="true"></p-dropdown>
  </div>
  <div class="ui-g-6 ui-fluid">
    <label style="display: block">Status</label>
    <p-radioButton name="status" value="true" [(ngModel)]="ativo" label="Ativo"></p-radioButton>
    &nbsp;&nbsp;
    <p-radioButton name="status"  value="false" [(ngModel)]="ativo" label="Inativo"></p-radioButton>

  </div>
  <p-footer>
    <button pButton type="button" label="Ok" (click)="pesquisarComFiltroAprimorado()"></button>
    <button pButton type="button" label="Limpar Tudo" (click)="limparFiltro()"></button>
    <button pButton type="button" label="Cancelar" (click)="limparFiltro(); filtroDisplay = false "></button>
  </p-footer>
</p-dialog>

<!--Modal para exportação-->
<p-dialog header="Exportar Pessoas" [draggable]="false" [dismissableMask]="true" [showHeader]="true"
  [closeOnEscape]="true" [blockScroll]="true" [modal]="true" [responsive]="true" [baseZIndex]="10000" [width]="450"
  [(visible)]="display2" (onHide)="atualizarTituloEdicao(ngF1)">

  <form (ngSubmit)="exportAsXLSX(ngF1) " #ngF1="ngForm">
    <div class="ui-fluid">
      <input pInputText placeholder="Nome do arquivo para exportar" type="text" [(ngModel)]="exp" name="nome"
        required /> <br /> <br />

    </div>

    <p-footer [ngClass]="['text-right']">
      <button style="width: 30%" [disabled]="ngF1.invalid" class="btn-exportar" type="submit" icon="pi pi-check" pButton
        label="Salvar"></button>
    </p-footer>
  </form>


</p-dialog>

<!--Filtro básico-->
<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>
  </div>

  <form autocomplete="off" #ngF="ngForm" (ngSubmit)="pesquisarPessoa()">
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <strong>Nome</strong> <input type="text" pInputText [(ngModel)]="filtro.nome" name="nome" id="">
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <button type="submit" icon="pi pi-search" pButton label="Pesquisar"></button>
        <button type="button" (click)="filtroDisplay = true" style="margin-left: 1%" pButton icon="pi pi-external-link"
          label="Mais filtros"></button>
        <button type="button" (click)="limparFiltro(); limparBusca(ngF)" pTooltip="Buscar Todos" tooltipPosition="right"
          style="margin-left: 1%" pButton icon="pi pi-refresh"></button>

      </div>
    </div>
  </form>

  <!--Tabela de pesoas-->
  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable emptyMessage="Pessoa não encontrada" [value]="pessoas" [responsive]="true" [paginator]="true"
        [rows]="5" [totalRecords]="total" [lazy]="true" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="endereco.cidade" header="Cidade"></p-column>
        <p-column field="endereco.estado" header="Estado"></p-column>
        <p-column field="ativo" header="Status">
          <ng-template pTemplate="body" let-pess="rowData">
            <div>
              <a href="javascript:;" class="linkFormatado" *ngIf="pess.ativo == true" pTooltip="Inativar"
                (click)="alterarAtivo(pess)" tooltipPosition="top">
                <div class="condicao-ativo"></div>
              </a>

              <a href="javascript:;" class="linkFormatado" (click)="alterarAtivo(pess)" *ngIf="pess.ativo == false"
                pTooltip="Ativar" tooltipPosition="top">
                <div class="condicao-inativo"></div>
              </a>
            </div>
          </ng-template>
        </p-column>

        <p-column styleClass="col-button" styleClass="col-acoes">
          <ng-template pTemplate="body" let-pessoa="rowData">
            <button pButton tooltipPosition="top" class="editar-e-remover-btn" (click)="editar(pessoa)"
              [disabled]="!auth.temPermissao('ROLE_CADASTRAR_PESSOA')" pTooltip="Editar" icon="pi pi-pencil"> </button>

            <button pButton tooltipPosition="top" style="color: white" pTooltip="Excluir" class="editar-e-remover-btn"
              [disabled]="!auth.temPermissao('ROLE_REMOVER_PESSOA')" (click)="verificacaoExcluisao(pessoa)"
              icon="pi pi-trash"></button>

          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <!--Botões de exportar e cadastrar-->
  <div class="ui-g">
    <div class="ui-g-12">
      <button pButton (click)="adicionarNovo()" icon="pi pi-plus"
        [disabled]="!auth.temPermissao('ROLE_CADASTRAR_PESSOA')" label="Nova Pessoa"></button>

      <button type="text" class="ml-2" (click)="display2 = true" (click)="pegaTudo()" pButton icon="pi pi-download"
        label="Exportar Pessoas"></button>
    </div>
  </div>
</div>
