<div class="navbar">

  <div class="container">

        <div class="ui-g">
          <div class="ui-g-12">
             <span class="pi pi-bars navbar-toggle"  (click)="mostrarMenu(!menuMostrado)"></span>
          </div>
      </div>
  </div>


  <ul class="navbar-menu" id="toggle-item-menu">
      <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
      <li class="navbar-menuitem" routerLinkActive="ativo"
      *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" ><a routerLink="/lancamentos">Lançamentos</a></li>
      <li class="navbar-menuitem" *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>
      <li class="navbar-menuitem"  ><a (click)="logout()">Logout</a></li>
    </ul>

</div>
